@import url('./theme.css');

/* Universal Styles */
* {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  border-radius: 4px;
}

/* Waybar Window */
window#waybar {
  background: @transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Tooltip Styles */
tooltip {
  border: 2px solid @highlight-background;
  color: @tooltip-text;
  background: @tooltip-background;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  padding: 8px;
  margin: 0 10px;
}

#window {
  background: @background;
}

/* Modules */
#window,
#mode,
#workspaces,
#temperature,
#pulseaudio,
#cpu,
#memory,
#tray,
#network,
#clock,
#mpris {
  color: @primary-text;
  padding: 0 12px;
  margin-left: 8px;
  border-radius: 8px;
}

#mode:hover,
#workspaces:hover,
#temperature:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#tray:hover,
#network:hover,
#clock:hover,
#mpris:hover {
  background: @module-hover-bg;
  color: @hover-text;
}

#custom-appmenu {
  font-size: 32px;
  color: @primary-text;
  padding-left: 8px;
  padding-right: 22px;
  transition: background 0.3s, color 0.3s;
}

#custom-appmenu:hover {
  color: @background;
  background: @hover-color;
}

/* Workspace Buttons */
#workspaces button {
  background: @transparent;
  color: @inactive-color;
  padding: 0 5px;
  border-radius: 0;
}

#workspaces button.occupied {
  color: @occupied-color;
  font-size: 12px;
}

#workspaces button.focused {
  color: @focused-color;
  background: @highlight-background;
  border-bottom: 2px solid @focused-color;
}

#workspaces button:hover {
  color: @hover-color;
  background: @highlight-background;
}

#workspaces button.active {
  color: @tooltip-text;
  font-weight: bold;
  border-bottom: 2px solid @hover-color;
}

/* Individual Module Colors */
#temperature {
  color: @temperature-color;
}

#pulseaudio {
  color: @pulseaudio-color;
}

#cpu {
  color: @cpu-color;
}

#memory {
  color: @memory-color;
}

#tray {
  color: @tray-color;
}

#network {
  color: @network-color;
}

/* MPRIS */
#mpris {
  color: @temperature-color;
  transition: color 0.3s;
}

#mpris:hover {
  color: @hover-color;
}

#custom-suspend {
  color: @primary-text;
  padding-right: 10px;
  font-size: 18px;
  background: @transparent;
  transition: all 0.3s;
  color: @pulseaudio-color;
  
}

#custom-suspend:hover {
  color: @cpu-color;
}

/* Layout */
.modules-left {
  padding-left: 15px;
}

.modules-right {
  padding-right: 15px;
}

.modules-left,
.modules-center,
.modules-right {
  margin-top: 6px;
  font-weight: 600;
}

